h1.title 
{
  font-size: 180px;
  color: red !important;
  line-height: 90px;
  text-align: left;
}
.subtitle
{
  font-size: 90px;
  text-align: left;
}
h2.author 
{
  font-weight: normal;
  line-height: 90px;
  color: aqua;
}
